@font-face {font-family: "iconfont";
  src: url('./iconfont.eot?t=1597492416241'); /* IE9 */
  src: url('./iconfont.eot?t=1597492416241#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./iconfont.woff?t=1597492416241') format('woff'),
  url('./iconfont.ttf?t=1597492416241') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('./iconfont.svg?t=1597492416241#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconbussiness-man:before {
  content: "\e6ef";
}

.iconshuaxinzhongjieban:before {
  content: "\e670";
}

.iconfangdajing:before {
  content: "\e614";
}

.iconAa:before {
  content: "\e636";
}

.iconPensyumaobi:before {
  content: "\e708";
}

